@model IEnumerable<MyFinance.Models.BudgetPlannerExpense>

@{
    ViewData["Title"] = "Index";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<h1>Budget Planner</h1>


<div id="chartContainer">
    <canvas id="budgetPieChart" style="border:1px solid #000000;"></canvas>
</div>



<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            Dictionary<string, double> chartData = new Dictionary<string, double>();
        }
        @foreach (var item in Model) {
            double tempValue = chartData.GetValueOrDefault(item.Type, 0.0);
            tempValue += item.Amount;
            chartData[item.Type] = tempValue;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Frequency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var chartData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(chartData));
</script>
<script src="~/js/budgetPlanner.js"></script>
